<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Tools Tracker</h1>
    <p class="lead">Helping you keep track of all the things you have shared with others. Tools Tracker give you the ability to remember things longer.</p>
    <hr class="my-4">
    <p>Sign Up in minutes. Tools Tracker is free to use.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>



