<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Craig Willey", "https://spark.adobe.com/page/0r0cCPh7d99Up/", class: "text-white" %></small>
  </div>
</footer>